<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- <link rel="stylesheet" href="home.css" /> -->
    <link rel="stylesheet" href="/output.css" />
    <!-- this way wont work here. -->
  </head>
  <body>
    <header class="bg-blue-600 mb-2">
      <h1 class="text-white text-3xl text-center p-4">Welcome to airbnb.</h1>
    </header>
    <main class="flex justify-center">
      <a href="/host/add-home" class="bg-amber-600 text-white p-2 rounded-lg shadow-lg">Add home</a>
    </main>
  </body>
</html>