<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <header class="bg-blue-600 mb-2">
      <h1 class="text-3xl text-white p-4 text-center">Registeration successfull.</h1>
    </header>
    <main class="flex justify-center">
      <a href="/" class="bg-amber-600 text-white p-2 rounded-lg shadow-lg">Go to home</a>
    </main>
  </body>
</html>
