<%- include('partials/head') %>
</head>
<body>
  <header  class="bg-blue-600 mb-2"><h1 class="text-white text-3xl text-center p-4">Page not found.</h1></header>
  <main class="flex justify-center mb-3">
      <a
        href="/store/homeList"
        class="bg-amber-600 text-white p-2 rounded-lg shadow-lg"
        >Home
        </a >
    </main>
</body>
</html>