<%- include('../partials/head') %>
  </head>
  <body>
      <%- include("../partials/nav")%>
      <h1 class="text-black text-3xl text-center p-4">Registeration successfull.</h1>
    <main class="flex justify-center">
      <a href="/store/homeList" class="bg-amber-600 text-white p-2 rounded-lg shadow-lg">Go to home</a>
    </main>
  </body>
</html>
