<header class="bg-blue-600 mb-2">
  <!-- <h1 class="text-white text-3xl text-center p-4">Welcome to airbnb.</h1> -->
  <nav>
    <ul class="flex justify-around space-x-4  p-4">
      <li><a href="/" class="text-white hover:underline">Home</a></li>
      <li><a href="/host/add-home" class="text-white hover:underline">Add Home</a></li>
      <li><a href="/host/editHome" class="text-white hover:underline">Edit Home</a></li>
      <li><a href="/host/hostHomeList" class="text-white hover:underline">List</a></li>

      <li><a href="/store/homeList" class="text-white hover:underline">Home List</a></li>
      <li><a href="/store/bookings" class="text-white hover:underline">My Bookings</a></li>
      <li><a href="/store/favoriteList" class="text-white hover:underline">My list</a></li>
      <li><a href="/store/reserve" class="text-white hover:underline">My reserve</a></li>

    </ul>
  </nav>
</header>
