.btn {
  background-color: rgb(44, 231, 44);
  border: 1px solid #fff;
  color: #0a0a0a;
  padding: 5px 10px;
  border-radius: 30px;
}
.btn:hover {
  background-color: chartreuse;
  text-decoration: underline;
}
.button {
  background-color: rgba(106, 216, 121, 0.8);
  padding: 6px 19px;
  border: none;
  border-radius: 10px;
}
.button:hover {
  background-color: chartreuse;
  text-decoration: underline;
}
.wishlist {
  padding: 5px 40px;
  border: 2px solid;
  border-radius: 9px;
}
.wishlist:hover{
  background-color: rgb(201, 208, 194);
  text-decoration: underline;
}