<%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <h1 class="text-blue-600 text-3xl text-center p-4 font-bold">My Bookings</h1>
  <p class="text-center p-4">Your bookings will appear here.</p>
</body>
</html>